.header {
    display: flex;
    allign-items: center;
}

.header a {
    display: flex;
    allign-items: center;
    text-decoration: none;
    color: white;
}

.header .logo {
    margin-right: 32px;
}

.header .title-group {
    padding-left: 25px;   
    padding-right: 25px;   
}

.title-group i {
    padding-right: 8px;
}