.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.sidenav i {
    padding-right: 10px;
}